/****功能菜單畫面CSS設定****/ 
body{
	background-color:#ffdee0;
}
#navigation {
	width:250px;
	font-family:Arial;
	
	 
}
#navigation > ul {
	list-style-type:none;				/* 不顯示項目符號 */
	margin:0px;
	padding:0px;
	
}
#navigation > ul > li {
	border-bottom:1px solid #ED9F9F;	/* 新增下劃線 */
}
#navigation > ul > li > a{
	display:block;						/* 區塊顯示 */
	padding:5px 5px 5px 0.5em;
	text-decoration:none;
	border-left:12px solid #711515;		/* 左邊的粗紅邊 */
	border-right:1px solid #711515;		/* 右側陰影 */
}
#navigation > ul > li > a:link, #navigation > ul > li > a:visited{
	background-color:#c11136;
	color:#FFFFFF;
}
#navigation > ul > li > a:hover{		/* 鼠標經過時 */
	background-color:#990020;			/* 改變背景色 */
	color:#ffff00;						/* 改變文字顏色 */
}

/* 子選單的CSS樣式 */
#navigation ul li ul{
	list-style-type:none;
	margin:0px;
	padding:0px 0px 0px 0px;
	 
}
#navigation ul li ul li{
	border-top:1px solid #ED9F9F;
}
#navigation ul li ul li a{
	display:block;
	padding:3px 3px 3px 0.5em;
	text-decoration:none;
	border-left:28px solid #a71f1f;
	border-right:1px solid #711515;
}
#navigation ul li ul li a:link, #navigation ul li ul li a:visited{
	background-color:#e85070;
	color:#FFFFFF;
}
#navigation ul li ul li a:hover{
	background-color:#c2425d;
	color:#ffff00;
}
#navigation ul li ul.myHide{	/* 隱藏子選單 */
	display:none;
}
#navigation ul li ul.myShow{	/* 顯示子選單 */
	display:block;
}
input {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }
input.btn{
     border:1px solid #744011;
	 font: bold 15px Arial, Helvetica;
	color:#744011;
	background-color:#ffb94b;	 
    margin:2px;	
}
.bttn:hover,.bttn:focus,.btn:hover,.btn:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	 

/*子菜單指示箭頭*/
li.hasmenu>a:link,
li.hasmenu>a:visited
{
	
	
	background:url(../digits/widget_open.gif) #ffefcf no-repeat 95% 50%;
}
li.hasmenu>a:hover,
li.hasmenu>a:focus,
li.hasmenu>a:active,
li.hasmenu>a:rollover:link,
li.hasmenu>a:rollover:visited
{
	background:url(../digits/toolbar.arrowright.gif) #ffefcf no-repeat 95% 50%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}